.header {
  position: fixed;
  top: 20px;           
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background: rgba(30, 30, 30, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  z-index: 1000;
}


.header button {
  all: unset;                
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;

  color: white;
  font-size: 14px;

  transition: background 0.2s ease;
}

.header button:hover {
  background: rgba(255, 255, 255, 0.12);
}