.SliderLaContainer {
  overflow: hidden;
  width: 75%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0;
}

.slider {
  display: flex;
  gap: 1rem;
  animation: scroll-left 20s linear infinite; 
}

.slider .icon {
  font-size: 3rem;
  color: #000;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

